.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    margin-bottom: 0;
}

.square{
    width: 198px;
    height: 149px;
    background-color:#F5F5F5;
}

@media only screen and (min-width: 1366px){
    .square{
        width: 256px;
        height: 181px;
    }
}