.prodPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prodPage h1, .prodPage h3{
    font-family: "Noto Serif";
    color: #4A4A4A;
    font-weight: normal;
    margin: 0;
}
.prodPage h1{
    font-size: 26px;
    margin-top: 22px;
    margin-bottom: 14px; 
}
.prodPage h3{
    font-size: 16px;
    margin-bottom: 48px;
}

@media only screen and (min-width: 1366px){
       .prodPage h1 {
           font-size: 32px;
           margin-top: 70px;
       }
       .prodPage h3 {
           font-size: 18px;
           margin-bottom: 90px;
       }
}