.navbar{
    display: flex;
    flex-wrap: wrap;
    position:relative;
}
.logo{
    margin:12px;
    width: 120px;
}
.search{
    border-top: 3px solid #F5F5F5;
    border-bottom: 3px solid #F5F5F5;
    padding:12px;
    width: 100vw;
    position: relative;
}
.search input{
    z-index: 5;
    position: relative;
    width: 100%;
    background-color: #F5F5F5;
    height: 30px;
    border: none;
    border-radius: 8px;
    outline: transparent;
    padding: 8px 0;
    padding-left: 36px;
    background-repeat: no-repeat ;
    background-size: 14px;
    background-position-y: center;
    background-position-x: 12px;
    background-image: url(../public/images/Group\ 2.svg);
}
.fav{
    background-color: transparent;
    position:absolute;
    right: 18px;
    top:12px;
}
@media only screen and (min-width: 1366px){
  .search{
      border: none;
      width: 355px;
  }
  .logo{
      width:172px;
  }
  .navbar{
      border-bottom:3px solid #F5F5F5 ;
  }
  
} 