.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeImage {
  display: flex;
  flex-direction: column-reverse;
  height: 412px;
  width: 100vw;
  background-size: 100vw 100vh;
        background-size: cover;
        background-position: center;
  background-repeat: no-repeat;
  background-image: url(../public/images/home-image.png);
}
.homeTitle {
  padding: 28px 18px;
  color: white;
  font-weight: bold;
}

.homeTitle h1 {
  margin: 0;
}
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories h1 {
  font-family: "Noto Serif";
  color: #4a4a4a;
  font-weight: normal;
}
.simpleCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 21px;
  margin: 0;
}
.simpleCategories li {
  text-align: center;
  list-style-type: none;
  text-decoration: underline;
  min-width: 83px;
  font-size: 14px;
  margin: 6px 0;
  padding: 6px 9px;
  background-color: #f5f5f5;
}
.cardCategories {
  display: flex;
  padding: 30px 21px;
  margin: 16px 0;
  overflow-x: auto;
  width: 90vw;
  user-select: none;
}
.cardCategories::-webkit-scrollbar{
    background-color:#f5f5f5;
    height: 10px;
}
.cardCategories::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #555;
}
.cardCategories::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px #0000004d;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.cardCategories li {
  list-style-type: none;
  text-decoration: underline;
  font-size: 14px;
  margin: 0;
  padding: 0 12px;
}
.allProds {
  display: block;
  width: 316px;
  height: 68px;
  font-size: 18px;
  color: #4a4a4a;
  font-weight: normal;
  background-color: transparent;
  border: black solid 1px;
  font-family: "Poppins";
  margin: 143px 0;
  cursor: pointer;
}
@media only screen and (min-width: 600px){
    .simpleCategories li{
        margin: 6px;
    }
    .homeImage{
    }
}
/*Desktop*/
@media only screen and (min-width: 1366px) {
  .cardCategories {
      width: 100vw;
    justify-content: center;
  }
  .homeImage {
    height: 947px;
    background-size: cover;
    background-position-x: center;
    background-position-y: -1148px;
  }
  .homeTitle {
    height: 373px;
    padding-left: 64px;
    padding-bottom: 71px;
  }
  .homeTitle h1 {
    font-size: 56px;
  }
  .categories h1 {
    font-size: 26px;
  }
  .simpleCategories li {
    margin: 10px;
    padding: 6px 16px;
  }
  .simpleCategories li,
  .cardCategories li {
    font-size: 16px;
  }
  .allProds {
    width: 364px;
  }
}
