.actual{
    color: black;
    font-weight: bold;
}
.paginationMenu{
    margin-bottom: 90px;
}
.paginationMenu button{
    background-color: transparent;
    font-size: 18px;
    font-family: "Poppins";
}
.arrowButton{
    font-weight: bold;
}

@media only screen and (min-width: 1366px){
    .paginationMenu{
        margin-top: 164px;
    }   
}