.prodImg{
    position: relative;
    width: 333px;
    height:267px;
    background-color:#F5F5F5;
    color: #dadada;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.prodImg button{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: fit-content;
    margin: 18px;
    background-color: transparent;
}
.product{
    display: flex;
    flex-direction: column;
}
.product p{
    margin: 0;
    color: #4A4A4A;
    font-size: 18px;
}
.prodDetails{
    display: flex;
    flex-direction: column;
    width: 333px;
    align-items: left;
}
.prodContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
}
.placeholder{
    position: absolute;
    z-index: 0;
    align-self: center;
    right: 89px;
    width: 150px;
}
@media only screen and (min-width: 800px){
    .product{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .prodContainer{
        margin-right: 24px;
    }
}
@media only screen and (min-width: 1366px) {
    .product{
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(3,1fr);
    }
    .prodImg{
        width: 490px;
        height: 364px;
    }
    .placeholder{
        right: 132px;
        width: 212px;
    }
    .prodDetails{
        width: 490px;
    }
}