.searchDiv {
  z-index: 2;
  padding: 60px 17px 15px 17px;
  max-height: 526px;
  min-height: 526px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0 20px 0px #8c8c8c8c;
}
.list {
  overflow-y: auto;
  max-height: 442px;
}
.searchDiv ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.searchDiv li {
  display: flex;
  align-items: center;
  padding: 6px 0;
}
.searchDiv li p {
  font-size: 18px;
  margin: 0;
  white-space: nowrap;
  overflow: scroll;
}
.searchDiv li p::-webkit-scrollbar {
  display: none;
}
.prodImg {
  min-width: 37px;
  max-width: 37px;
  height: 37px;
  background-color: #d8d8d8;
  margin-right: 12px;
  position: relative;
  display: flex;
  justify-content: center;
}
.placeholder{
    position: absolute;
    z-index: 0;
    align-self: center;
    width: 17px;
}
@media only screen and (min-width: 1366px) {
    .searchDiv{
        min-width: 847px;
        max-width: 847px;
    }
}